html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  cursor: url('./assests/click.png') 122 122, auto;
  background: #080f01;
  overflow: hidden;
  background: url('./assests/background.png') no-repeat center center fixed;
  background-size: cover;
}

@font-face {
  font-family: 'JameelNooriNastaleeq';
  src: url('./assests/fonts/JameelNooriNastaleeq.ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.urdu {
  font-family: 'JameelNooriNastaleeq';
  direction: rtl;
  text-align: right;
  font-size: 32px;
}